In [1]:
#importing the libraries

import numpy as np 
import pandas as pd 

import datetime

import warnings

!pip install yfinance
import yfinance as yf
import pandas_datareader.data as pdr

warnings.filterwarnings("ignore")

Requirement already satisfied: yfinance in c:\users\shlok\anaconda3\lib\site-packages (0.1.64)
Requirement already satisfied: numpy>=1.15 in c:\users\shlok\anaconda3\lib\site-packages (from yfinance) (1.20.1)
Requirement already satisfied: requests>=2.20 in c:\users\shlok\anaconda3\lib\site-packages (from yfinance) (2.25.1)
Requirement already satisfied: lxml>=4.5.1 in c:\users\shlok\anaconda3\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\shlok\anaconda3\lib\site-packages (from yfinance) (0.0.9)
Requirement already satisfied: pandas>=0.24 in c:\users\shlok\anaconda3\lib\site-packages (from yfinance) (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\shlok\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\shlok\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\shlok\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\shlok\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\shlok\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shlok\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\shlok\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.26.4)

In [2]:
#reading the data from the csv file

data = pd.read_csv('boston_crime.csv',encoding='latin')

In [3]:
#checking the number of non-null values and the data type

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301126 entries, 0 to 301125
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      301126 non-null  object
 1   OFFENSE_CODE         301126 non-null  int64
 2   OFFENSE_CODE_GROUP   98888 non-null   object
 3   OFFENSE_DESCRIPTION  301126 non-null  object
 4   DISTRICT             298881 non-null  object
 5   REPORTING_AREA       290111 non-null  object
 6   SHOOTING             202640 non-null  object
 7   OCCURRED_ON_DATE     301126 non-null  object
 8   YEAR                 301126 non-null  int64
 9   MONTH                301126 non-null  int64
 10  DAY_OF_WEEK          301126 non-null  object
 11  HOUR                 301126 non-null  int64
 12  UCR_PART             98868 non-null   object
 13  STREET               298831 non-null  object
 14  Lat                  294697 non-null  float64
 15  Long                 294697 non-null  float64
 16  Location             301126 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 39.1+ MB

In [4]:
data = data.sort_values(by='OCCURRED_ON_DATE')

In [5]:
data

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
202260,I192068538,1107,Fraud,FRAUD - IMPERSONATION,D14,794,NaN,2018-01-01 00:00:00,2018,1,Monday,0,Part Two,GLENVILLE AVE,42.349780,-71.134230,"(42.34977988, -71.13423049)"
296264,I182005214,615,Larceny From Motor Vehicle,LARCENY THEFT OF MV PARTS & ACCESSORIES,D4,132,NaN,2018-01-01 00:00:00,2018,1,Monday,0,Part One,MARLBOROUGH ST,42.353145,-71.077639,"(42.35314550, -71.07763936)"
300842,I182000061,3114,Investigate Property,INVESTIGATE PROPERTY,B3,463,NaN,2018-01-01 00:00:00,2018,1,Monday,0,Part Three,AMERICAN LEGION HWY,42.295884,-71.092206,"(42.29588434, -71.09220600)"
288755,I182013332,2647,Other,THREATS TO DO BODILY HARM,D14,762,NaN,2018-01-01 00:00:00,2018,1,Monday,0,Part Two,TRAPELO ST,42.346817,-71.161222,"(42.34681745, -71.16122166)"
202672,I192005657,2610,Other,TRESPASSING,C11,396,NaN,2018-01-01 00:00:00,2018,1,Monday,0,Part Two,MELBOURNE ST,42.291093,-71.065945,"(42.29109287, -71.06594539)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,212084732,612,NaN,LARCENY PURSE SNATCH - NO FORCE,B2,NaN,0,2021-11-19 0:01:00,2021,11,Friday,0,NaN,BLUE HILL AVE,42.316057,-71.078200,"(42.3160569015576, -71.0782001737557)"
34,212084733,3207,NaN,PROPERTY - FOUND,A1,NaN,0,2021-11-19 0:36:00,2021,11,Friday,0,NaN,SUDBURY ST,0.000000,0.000000,"(0, 0)"
33,212084739,3005,NaN,SICK ASSIST,D14,NaN,0,2021-11-19 1:02:00,2021,11,Friday,1,NaN,CAMBRIDGE ST,42.349593,-71.148567,"(42.3495925298445, -71.1485668937166)"
32,212084742,1402,NaN,VANDALISM,D4,NaN,0,2021-11-19 1:17:00,2021,11,Friday,1,NaN,COMMONWEALTH AVE,42.350107,-71.085456,"(42.3501073495093, -71.0854563661138)"
31,212084745,423,NaN,ASSAULT - AGGRAVATED,A1,NaN,0,2021-11-19 2:32:00,2021,11,Friday,2,NaN,WASHINGTON ST,42.351230,-71.062899,"(42.3512300577377, -71.0628992130786)"

In [6]:
#dropping the rows will null values in the following columns

data = data.dropna(subset=['REPORTING_AREA'])
data = data.dropna(subset=['DISTRICT'])
data = data.dropna(subset=['Lat'])
data = data.dropna(subset=['STREET'])
data = data.drop(columns=['OFFENSE_CODE_GROUP'])
data = data.drop(columns=['DAY_OF_WEEK'])

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 281235 entries, 202260 to 213
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      281235 non-null  object
 1   OFFENSE_CODE         281235 non-null  int64
 2   OFFENSE_DESCRIPTION  281235 non-null  object
 3   DISTRICT             281235 non-null  object
 4   REPORTING_AREA       281235 non-null  object
 5   SHOOTING             190074 non-null  object
 6   OCCURRED_ON_DATE     281235 non-null  object
 7   YEAR                 281235 non-null  int64
 8   MONTH                281235 non-null  int64
 9   HOUR                 281235 non-null  int64
 10  UCR_PART             91521 non-null   object
 11  STREET               281235 non-null  object
 12  Lat                  281235 non-null  float64
 13  Long                 281235 non-null  float64
 14  Location             281235 non-null  object
dtypes: float64(2), int64(4), object(9)
memory usage: 34.3+ MB

In [8]:
#checking the values present in the'SHOOTING' column
data['SHOOTING'].unique()

array([nan, 'Y', 0, '0', '1', 1], dtype=object)

In [9]:
#filling the null values with shooting=0
data['SHOOTING'] = data['SHOOTING'].fillna(0)

In [10]:
#replacing values appropriately to convert 'SHOOTING' into a 0,1 column
data['SHOOTING'].replace({"0": 0, "1": 1, "Y":1}, inplace=True)

In [11]:
data['SHOOTING'].unique()

array([0, 1], dtype=int64)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 281235 entries, 202260 to 213
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      281235 non-null  object
 1   OFFENSE_CODE         281235 non-null  int64
 2   OFFENSE_DESCRIPTION  281235 non-null  object
 3   DISTRICT             281235 non-null  object
 4   REPORTING_AREA       281235 non-null  object
 5   SHOOTING             281235 non-null  int64
 6   OCCURRED_ON_DATE     281235 non-null  object
 7   YEAR                 281235 non-null  int64
 8   MONTH                281235 non-null  int64
 9   HOUR                 281235 non-null  int64
 10  UCR_PART             91521 non-null   object
 11  STREET               281235 non-null  object
 12  Lat                  281235 non-null  float64
 13  Long                 281235 non-null  float64
 14  Location             281235 non-null  object
dtypes: float64(2), int64(5), object(8)
memory usage: 34.3+ MB

In [13]:
#converting the 'OCCURRED_ON_DATE to 'datetime' type to extract useful information

data['OCCURRED_ON_DATE'] = pd.to_datetime(data['OCCURRED_ON_DATE'], format='%Y-%m-%d %H:%M:%S')
data['DATE'] = data['OCCURRED_ON_DATE'].apply(lambda x:x.date())
data['DATE'] = pd.to_datetime(data['DATE'], format='%Y-%m-%d')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 281235 entries, 202260 to 213
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      281235 non-null  object
 1   OFFENSE_CODE         281235 non-null  int64
 2   OFFENSE_DESCRIPTION  281235 non-null  object
 3   DISTRICT             281235 non-null  object
 4   REPORTING_AREA       281235 non-null  object
 5   SHOOTING             281235 non-null  int64
 6   OCCURRED_ON_DATE     281235 non-null  datetime64[ns]
 7   YEAR                 281235 non-null  int64
 8   MONTH                281235 non-null  int64
 9   HOUR                 281235 non-null  int64
 10  UCR_PART             91521 non-null   object
 11  STREET               281235 non-null  object
 12  Lat                  281235 non-null  float64
 13  Long                 281235 non-null  float64
 14  Location             281235 non-null  object
 15  DATE                 281235 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(5), object(7)
memory usage: 36.5+ MB

In [15]:
data

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,HOUR,UCR_PART,STREET,Lat,Long,Location,DATE
202260,I192068538,1107,FRAUD - IMPERSONATION,D14,794,0,2018-01-01 00:00:00,2018,1,0,Part Two,GLENVILLE AVE,42.349780,-71.134230,"(42.34977988, -71.13423049)",2018-01-01
296264,I182005214,615,LARCENY THEFT OF MV PARTS & ACCESSORIES,D4,132,0,2018-01-01 00:00:00,2018,1,0,Part One,MARLBOROUGH ST,42.353145,-71.077639,"(42.35314550, -71.07763936)",2018-01-01
300842,I182000061,3114,INVESTIGATE PROPERTY,B3,463,0,2018-01-01 00:00:00,2018,1,0,Part Three,AMERICAN LEGION HWY,42.295884,-71.092206,"(42.29588434, -71.09220600)",2018-01-01
288755,I182013332,2647,THREATS TO DO BODILY HARM,D14,762,0,2018-01-01 00:00:00,2018,1,0,Part Two,TRAPELO ST,42.346817,-71.161222,"(42.34681745, -71.16122166)",2018-01-01
202672,I192005657,2610,TRESPASSING,C11,396,0,2018-01-01 00:00:00,2018,1,0,Part Two,MELBOURNE ST,42.291093,-71.065945,"(42.29109287, -71.06594539)",2018-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,212084453,2670,HARASSMENT/ CRIMINAL HARASSMENT,C6,200.0,0,2021-11-18 09:12:00,2021,11,9,NaN,W BROADWAY,42.341287,-71.054679,"(42.3412875043904, -71.054679326494)",2021-11-18
123,212084617,619,LARCENY ALL OTHERS,E5,691.0,0,2021-11-18 09:30:00,2021,11,9,NaN,CENTRE ST,42.287094,-71.148221,"(42.2870935525911, -71.1482212837716)",2021-11-18
221,212084459,3207,PROPERTY - FOUND,D14,778.0,0,2021-11-18 09:35:00,2021,11,9,NaN,WASHINGTON ST,42.349056,-71.150498,"(42.3490560003051, -71.1504984997502)",2021-11-18
222,212084458,2670,HARASSMENT/ CRIMINAL HARASSMENT,B3,465.0,0,2021-11-18 09:40:00,2021,11,9,NaN,BLUE HILL AVE,42.284826,-71.091374,"(42.2848257658049, -71.091373689388)",2021-11-18
213,212084469,3831,M/V - LEAVING SCENE - PROPERTY DAMAGE,E5,691.0,0,2021-11-18 09:45:00,2021,11,9,NaN,CENTRE ST,42.287094,-71.148221,"(42.2870935525911, -71.1482212837716)",2021-11-18

In [16]:
#extracting useful information like day of the week, whether it is a weekend or not, and finally the day of the month

data['DAY_OF_WEEK'] = data['OCCURRED_ON_DATE'].apply(lambda x:x.isoweekday())
data['WEEKEND'] = data['DAY_OF_WEEK'].apply(lambda x: 0 if x<6 else 1)
data['DAY_OF_MONTH'] = data['OCCURRED_ON_DATE'].apply(lambda x:x.strftime("%d"))

In [17]:
data

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,HOUR,UCR_PART,STREET,Lat,Long,Location,DATE,DAY_OF_WEEK,WEEKEND,DAY_OF_MONTH
202260,I192068538,1107,FRAUD - IMPERSONATION,D14,794,0,2018-01-01 00:00:00,2018,1,0,Part Two,GLENVILLE AVE,42.349780,-71.134230,"(42.34977988, -71.13423049)",2018-01-01,1,0,01
296264,I182005214,615,LARCENY THEFT OF MV PARTS & ACCESSORIES,D4,132,0,2018-01-01 00:00:00,2018,1,0,Part One,MARLBOROUGH ST,42.353145,-71.077639,"(42.35314550, -71.07763936)",2018-01-01,1,0,01
300842,I182000061,3114,INVESTIGATE PROPERTY,B3,463,0,2018-01-01 00:00:00,2018,1,0,Part Three,AMERICAN LEGION HWY,42.295884,-71.092206,"(42.29588434, -71.09220600)",2018-01-01,1,0,01
288755,I182013332,2647,THREATS TO DO BODILY HARM,D14,762,0,2018-01-01 00:00:00,2018,1,0,Part Two,TRAPELO ST,42.346817,-71.161222,"(42.34681745, -71.16122166)",2018-01-01,1,0,01
202672,I192005657,2610,TRESPASSING,C11,396,0,2018-01-01 00:00:00,2018,1,0,Part Two,MELBOURNE ST,42.291093,-71.065945,"(42.29109287, -71.06594539)",2018-01-01,1,0,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,212084453,2670,HARASSMENT/ CRIMINAL HARASSMENT,C6,200.0,0,2021-11-18 09:12:00,2021,11,9,NaN,W BROADWAY,42.341287,-71.054679,"(42.3412875043904, -71.054679326494)",2021-11-18,4,0,18
123,212084617,619,LARCENY ALL OTHERS,E5,691.0,0,2021-11-18 09:30:00,2021,11,9,NaN,CENTRE ST,42.287094,-71.148221,"(42.2870935525911, -71.1482212837716)",2021-11-18,4,0,18
221,212084459,3207,PROPERTY - FOUND,D14,778.0,0,2021-11-18 09:35:00,2021,11,9,NaN,WASHINGTON ST,42.349056,-71.150498,"(42.3490560003051, -71.1504984997502)",2021-11-18,4,0,18
222,212084458,2670,HARASSMENT/ CRIMINAL HARASSMENT,B3,465.0,0,2021-11-18 09:40:00,2021,11,9,NaN,BLUE HILL AVE,42.284826,-71.091374,"(42.2848257658049, -71.091373689388)",2021-11-18,4,0,18
213,212084469,3831,M/V - LEAVING SCENE - PROPERTY DAMAGE,E5,691.0,0,2021-11-18 09:45:00,2021,11,9,NaN,CENTRE ST,42.287094,-71.148221,"(42.2870935525911, -71.1482212837716)",2021-11-18,4,0,18

In [18]:
#cleaning the 'OFFENSE_DESCRIPTION' column by reducing the crime division from 800+ to 15 main categories and creating a new column called 'race_label'

def label_race (row):
    if 'ASSAULT' in row['OFFENSE_DESCRIPTION']:
        return 'ASSAULT'
    elif 'LARCENY' in row['OFFENSE_DESCRIPTION']:
        return 'LARCENY'
    elif 'M/V' in row['OFFENSE_DESCRIPTION']:
        return 'ACCIDENTS'
    elif 'DRUG' in row['OFFENSE_DESCRIPTION']:
        return 'DRUGS'
    elif 'FRAUD' in row['OFFENSE_DESCRIPTION']:
        return 'FRAUD'
    elif 'THREAT' in row['OFFENSE_DESCRIPTION']:
        return 'THREAT'
    elif 'AUTO' in row['OFFENSE_DESCRIPTION']:
        return 'AUTO THEFT'
    elif 'MANSLAUGHTER' in row['OFFENSE_DESCRIPTION']:
        return 'MURDER'
    elif 'PROSTITUTION' in row['OFFENSE_DESCRIPTION']:
        return 'PROSTITUTION'
    elif 'RAPE' in row['OFFENSE_DESCRIPTION']:
        return 'RAPE'
    elif 'ROBBERY' in row['OFFENSE_DESCRIPTION']:
        return 'ROBBERY'
    elif 'BURGLARY' in row['OFFENSE_DESCRIPTION']:
        return 'BURGLARY'
    elif 'B&E' in row['OFFENSE_DESCRIPTION']:
        return 'BURGLARY'
    elif 'KIDNAPPING' in row['OFFENSE_DESCRIPTION']:
        return 'KIDNAPPING'
    elif 'ARSON' in row['OFFENSE_DESCRIPTION']:
        return 'FIRE/ARSON'
    elif 'FIRE ' in row['OFFENSE_DESCRIPTION']:
        return 'FIRE/ARSON'
    elif 'VANDALISM' in row['OFFENSE_DESCRIPTION']:
        return 'VANDALISM'
    elif 'GRAFFITI' in row['OFFENSE_DESCRIPTION']:
        return 'VANDALISM'
    
    return 'OTHER'


data['race_label'] = data.apply (lambda row: label_race(row), axis=1)

In [19]:
data['race_label'].nunique()

15

In [20]:
data

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,HOUR,UCR_PART,STREET,Lat,Long,Location,DATE,DAY_OF_WEEK,WEEKEND,DAY_OF_MONTH,race_label
202260,I192068538,1107,FRAUD - IMPERSONATION,D14,794,0,2018-01-01 00:00:00,2018,1,0,Part Two,GLENVILLE AVE,42.349780,-71.134230,"(42.34977988, -71.13423049)",2018-01-01,1,0,01,FRAUD
296264,I182005214,615,LARCENY THEFT OF MV PARTS & ACCESSORIES,D4,132,0,2018-01-01 00:00:00,2018,1,0,Part One,MARLBOROUGH ST,42.353145,-71.077639,"(42.35314550, -71.07763936)",2018-01-01,1,0,01,LARCENY
300842,I182000061,3114,INVESTIGATE PROPERTY,B3,463,0,2018-01-01 00:00:00,2018,1,0,Part Three,AMERICAN LEGION HWY,42.295884,-71.092206,"(42.29588434, -71.09220600)",2018-01-01,1,0,01,OTHER
288755,I182013332,2647,THREATS TO DO BODILY HARM,D14,762,0,2018-01-01 00:00:00,2018,1,0,Part Two,TRAPELO ST,42.346817,-71.161222,"(42.34681745, -71.16122166)",2018-01-01,1,0,01,THREAT
202672,I192005657,2610,TRESPASSING,C11,396,0,2018-01-01 00:00:00,2018,1,0,Part Two,MELBOURNE ST,42.291093,-71.065945,"(42.29109287, -71.06594539)",2018-01-01,1,0,01,OTHER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,212084453,2670,HARASSMENT/ CRIMINAL HARASSMENT,C6,200.0,0,2021-11-18 09:12:00,2021,11,9,NaN,W BROADWAY,42.341287,-71.054679,"(42.3412875043904, -71.054679326494)",2021-11-18,4,0,18,OTHER
123,212084617,619,LARCENY ALL OTHERS,E5,691.0,0,2021-11-18 09:30:00,2021,11,9,NaN,CENTRE ST,42.287094,-71.148221,"(42.2870935525911, -71.1482212837716)",2021-11-18,4,0,18,LARCENY
221,212084459,3207,PROPERTY - FOUND,D14,778.0,0,2021-11-18 09:35:00,2021,11,9,NaN,WASHINGTON ST,42.349056,-71.150498,"(42.3490560003051, -71.1504984997502)",2021-11-18,4,0,18,OTHER
222,212084458,2670,HARASSMENT/ CRIMINAL HARASSMENT,B3,465.0,0,2021-11-18 09:40:00,2021,11,9,NaN,BLUE HILL AVE,42.284826,-71.091374,"(42.2848257658049, -71.091373689388)",2021-11-18,4,0,18,OTHER
213,212084469,3831,M/V - LEAVING SCENE - PROPERTY DAMAGE,E5,691.0,0,2021-11-18 09:45:00,2021,11,9,NaN,CENTRE ST,42.287094,-71.148221,"(42.2870935525911, -71.1482212837716)",2021-11-18,4,0,18,ACCIDENTS

In [21]:
# importing day wise weather data which includes temperature, visibility etc scraped from visual crossing

df = pd.read_csv('weather.csv',encoding='latin')

In [22]:
df['DATE_OF_INCIDENT'] = pd.to_datetime(df['DATE_OF_INCIDENT'], format='%Y-%m-%d')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301126 entries, 0 to 301125
Data columns (total 30 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      301126 non-null  object
 1   OFFENSE_CODE         301126 non-null  int64
 2   OFFENSE_CODE_GROUP   98888 non-null   object
 3   OFFENSE_DESCRIPTION  301126 non-null  object
 4   DISTRICT             298881 non-null  object
 5   REPORTING_AREA       269040 non-null  float64
 6   SHOOTING             202640 non-null  object
 7   YEAR                 301126 non-null  int64
 8   MONTH                301126 non-null  int64
 9   DAY_OF_WEEK          301126 non-null  object
 10  HOUR                 301126 non-null  int64
 11  UCR_PART             98868 non-null   object
 12  STREET               298830 non-null  object
 13  Lat                  294697 non-null  float64
 14  Long                 294697 non-null  float64
 15  Location             301126 non-null  object
 16  DATE_OF_INCIDENT     301126 non-null  datetime64[ns]
 17  Temperature          301126 non-null  float64
 18  Wind Chill           154176 non-null  float64
 19  Precipitation        301126 non-null  float64
 20  Snow                 301126 non-null  float64
 21  Snow Depth           301126 non-null  float64
 22  Wind Speed           301126 non-null  float64
 23  Wind Direction       301126 non-null  float64
 24  Wind Gust            250337 non-null  float64
 25  Visibility           301126 non-null  float64
 26  Cloud Cover          301126 non-null  float64
 27  Relative Humidity    301126 non-null  float64
 28  Conditions           301126 non-null  object
 29  Close*               301126 non-null  float64
dtypes: datetime64[ns](1), float64(15), int64(4), object(10)
memory usage: 68.9+ MB

In [24]:
df.columns

Index(['INCIDENT_NUMBER', 'OFFENSE_CODE', 'OFFENSE_CODE_GROUP',
       'OFFENSE_DESCRIPTION', 'DISTRICT', 'REPORTING_AREA', 'SHOOTING', 'YEAR',
       'MONTH', 'DAY_OF_WEEK', 'HOUR', 'UCR_PART', 'STREET', 'Lat', 'Long',
       'Location', 'DATE_OF_INCIDENT', 'Temperature', 'Wind Chill',
       'Precipitation', 'Snow', 'Snow Depth', 'Wind Speed', 'Wind Direction',
       'Wind Gust', 'Visibility', 'Cloud Cover', 'Relative Humidity',
       'Conditions', 'Close*'],
      dtype='object')

In [25]:
#cleaning the weather data 

df = df.drop(columns=['OFFENSE_CODE', 'OFFENSE_CODE_GROUP',
       'OFFENSE_DESCRIPTION', 'DISTRICT', 'REPORTING_AREA', 'SHOOTING', 'YEAR',
       'MONTH', 'DAY_OF_WEEK', 'HOUR', 'UCR_PART', 'STREET', 'Lat', 'Long',
       'Location','DATE_OF_INCIDENT'])

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301126 entries, 0 to 301125
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   INCIDENT_NUMBER    301126 non-null  object
 1   Temperature        301126 non-null  float64
 2   Wind Chill         154176 non-null  float64
 3   Precipitation      301126 non-null  float64
 4   Snow               301126 non-null  float64
 5   Snow Depth         301126 non-null  float64
 6   Wind Speed         301126 non-null  float64
 7   Wind Direction     301126 non-null  float64
 8   Wind Gust          250337 non-null  float64
 9   Visibility         301126 non-null  float64
 10  Cloud Cover        301126 non-null  float64
 11  Relative Humidity  301126 non-null  float64
 12  Conditions         301126 non-null  object
 13  Close*             301126 non-null  float64
dtypes: float64(12), object(2)
memory usage: 32.2+ MB

In [27]:
#merging the data with the original data frame based on date

final = data.merge(df, left_on='INCIDENT_NUMBER', right_on='INCIDENT_NUMBER')

In [28]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 277517 entries, 0 to 277516
Data columns (total 33 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      277517 non-null  object
 1   OFFENSE_CODE         277517 non-null  int64
 2   OFFENSE_DESCRIPTION  277517 non-null  object
 3   DISTRICT             277517 non-null  object
 4   REPORTING_AREA       277517 non-null  object
 5   SHOOTING             277517 non-null  int64
 6   OCCURRED_ON_DATE     277517 non-null  datetime64[ns]
 7   YEAR                 277517 non-null  int64
 8   MONTH                277517 non-null  int64
 9   HOUR                 277517 non-null  int64
 10  UCR_PART             122163 non-null  object
 11  STREET               277517 non-null  object
 12  Lat                  277517 non-null  float64
 13  Long                 277517 non-null  float64
 14  Location             277517 non-null  object
 15  DATE                 277517 non-null  datetime64[ns]
 16  DAY_OF_WEEK          277517 non-null  int64
 17  WEEKEND              277517 non-null  int64
 18  DAY_OF_MONTH         277517 non-null  object
 19  race_label           277517 non-null  object
 20  Temperature          277517 non-null  float64
 21  Wind Chill           130478 non-null  float64
 22  Precipitation        277517 non-null  float64
 23  Snow                 277517 non-null  float64
 24  Snow Depth           277517 non-null  float64
 25  Wind Speed           277517 non-null  float64
 26  Wind Direction       277517 non-null  float64
 27  Wind Gust            228873 non-null  float64
 28  Visibility           277517 non-null  float64
 29  Cloud Cover          277517 non-null  float64
 30  Relative Humidity    277517 non-null  float64
 31  Conditions           277517 non-null  object
 32  Close*               277517 non-null  float64
dtypes: datetime64[ns](2), float64(14), int64(7), object(10)
memory usage: 72.0+ MB

In [29]:
final.columns

Index(['INCIDENT_NUMBER', 'OFFENSE_CODE', 'OFFENSE_DESCRIPTION', 'DISTRICT',
       'REPORTING_AREA', 'SHOOTING', 'OCCURRED_ON_DATE', 'YEAR', 'MONTH',
       'HOUR', 'UCR_PART', 'STREET', 'Lat', 'Long', 'Location', 'DATE',
       'DAY_OF_WEEK', 'WEEKEND', 'DAY_OF_MONTH', 'race_label', 'Temperature',
       'Wind Chill', 'Precipitation', 'Snow', 'Snow Depth', 'Wind Speed',
       'Wind Direction', 'Wind Gust', 'Visibility', 'Cloud Cover',
       'Relative Humidity', 'Conditions', 'Close*'],
      dtype='object')

In [30]:
final = final.drop(columns=['Wind Chill', 'Wind Direction', 'Wind Gust'])

In [31]:
final

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,HOUR,...,Temperature,Precipitation,Snow,Snow Depth,Wind Speed,Visibility,Cloud Cover,Relative Humidity,Conditions,Close*
0,I192068538,1107,FRAUD - IMPERSONATION,D14,794,0,2018-01-01 00:00:00,2018,1,0,...,5.6,0.0,0.0,1.51,20.7,9.9,15.0,48.02,Clear,24824.01
1,I182005214,615,LARCENY THEFT OF MV PARTS & ACCESSORIES,D4,132,0,2018-01-01 00:00:00,2018,1,0,...,5.6,0.0,0.0,1.51,20.7,9.9,15.0,48.02,Clear,24824.01
2,I182000061,3114,INVESTIGATE PROPERTY,B3,463,0,2018-01-01 00:00:00,2018,1,0,...,5.6,0.0,0.0,1.51,20.7,9.9,15.0,48.02,Clear,24824.01
3,I182013332,2647,THREATS TO DO BODILY HARM,D14,762,0,2018-01-01 00:00:00,2018,1,0,...,5.6,0.0,0.0,1.51,20.7,9.9,15.0,48.02,Clear,24824.01
4,I192005657,2610,TRESPASSING,C11,396,0,2018-01-01 00:00:00,2018,1,0,...,5.6,0.0,0.0,1.51,20.7,9.9,15.0,48.02,Clear,24824.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277512,212076183,1501,WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TR...,B2,311.0,0,2021-10-20 02:20:00,2021,10,2,...,60.8,0.0,0.0,0.00,15.8,9.9,61.8,63.63,Partially cloudy,35609.34
277513,212076186,3115,INVESTIGATE PERSON,C11,367.0,0,2021-10-20 02:26:00,2021,10,2,...,60.8,0.0,0.0,0.00,15.8,9.9,61.8,63.63,Partially cloudy,35609.34
277514,212076202,3301,VERBAL DISPUTE,C11,398.0,0,2021-10-20 04:57:00,2021,10,4,...,60.8,0.0,0.0,0.00,15.8,9.9,61.8,63.63,Partially cloudy,35609.34
277515,212076205,724,AUTO THEFT,B2,282.0,0,2021-10-20 06:20:00,2021,10,6,...,60.8,0.0,0.0,0.00,15.8,9.9,61.8,63.63,Partially cloudy,35609.34
277516,212076206,2907,VAL - OPERATING AFTER REV/SUSP.,C11,387.0,0,2021-10-20 06:24:00,2021,10,6,...,60.8,0.0,0.0,0.00,15.8,9.9,61.8,63.63,Partially cloudy,35609.34

In [32]:
#reading the data which contains the area and length of the districts scarped from analyze boston
df1 = pd.read_csv('DISTRICT_AREA_LENGTH.csv')

In [33]:
#merging the data with the original data based on 'DISTRICT'
final=final.merge(df1,left_on = 'DISTRICT',right_on='DISTRICT',how='left')

In [34]:
final.drop(columns=['OBJECTID',
       'ID', 'BPDGIS_GIS', 'DISTRICT_', 'DISTRICT__'], axis=1, inplace=True)

In [35]:
#reading the data which contains the quarterly unemployment rate of boston scraped from Ycharts

df2 = pd.read_excel('Unemployment_rate.xlsx')

In [36]:
#merging the data with the original data frame based on date

final=final.merge(df2,left_on = 'DATE',right_on='DATE',how='left')

In [37]:
#Filling the null values using the forward fill method because the unemployment rate is a metric that is released on a quarterly basis

final['UNEMPLOY_RATE'] = final['UNEMPLOY_RATE'].ffill()

In [38]:
#reading the data which contains the holiday data of boston scraped from office holidays

df3 = pd.read_excel('holidays_calender.xlsx')

In [39]:
#merging the data with the original data frame based on date

final=final.merge(df3,left_on = 'DATE',right_on='DATE',how='left')

In [40]:
#filling the null values with zero

final['FEDERAL HOLIDAY'].fillna(0, inplace = True)
final['GOVERNMENT HOLIDAY'].fillna(0, inplace = True)
final['NON-PUBLIC HOLIDAY'].fillna(0, inplace = True)
final['REGIONAL HOLIDAY'].fillna(0, inplace = True)

In [41]:
final

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,HOUR,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,FEDERAL HOLIDAY,GOVERNMENT HOLIDAY,NON-PUBLIC HOLIDAY,REGIONAL HOLIDAY
0,I192068538,1107,FRAUD - IMPERSONATION,D14,794,0,2018-01-01 00:00:00,2018,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
1,I182005214,615,LARCENY THEFT OF MV PARTS & ACCESSORIES,D4,132,0,2018-01-01 00:00:00,2018,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
2,I182000061,3114,INVESTIGATE PROPERTY,B3,463,0,2018-01-01 00:00:00,2018,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
3,I182013332,2647,THREATS TO DO BODILY HARM,D14,762,0,2018-01-01 00:00:00,2018,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
4,I192005657,2610,TRESPASSING,C11,396,0,2018-01-01 00:00:00,2018,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277512,212076183,1501,WEAPON VIOLATION - CARRY/ POSSESSING/ SALE/ TR...,B2,311.0,0,2021-10-20 02:20:00,2021,10,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
277513,212076186,3115,INVESTIGATE PERSON,C11,367.0,0,2021-10-20 02:26:00,2021,10,2,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
277514,212076202,3301,VERBAL DISPUTE,C11,398.0,0,2021-10-20 04:57:00,2021,10,4,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
277515,212076205,724,AUTO THEFT,B2,282.0,0,2021-10-20 06:20:00,2021,10,6,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
277516,212076206,2907,VAL - OPERATING AFTER REV/SUSP.,C11,387.0,0,2021-10-20 06:24:00,2021,10,6,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0

In [42]:
final1 = final.copy()

In [43]:
#further cleaning 

final = final.replace(' ',np.nan)
final = final[final['REPORTING_AREA'].notna()]
final['REPORTING_AREA'] = final['REPORTING_AREA'].astype(float)
final['REPORTING_AREA'] = final['REPORTING_AREA'].astype(int)

In [44]:
final['OCCURRED_ON_DATE'] = pd.to_datetime(final['OCCURRED_ON_DATE'])
final['DATE'] = final['OCCURRED_ON_DATE'].apply(lambda x:x.date())
final = final.copy()
final = final[final['race_label']=='ASSAULT']

In [45]:
cleaned_date = pd.DataFrame(final.groupby(['DATE'])['Snow'].count())
cleaned_date = cleaned_date.reset_index()
cleaned_date = cleaned_date.rename(columns={'Snow': "count"})
df4 = final[['DATE','Temperature','Visibility','Cloud Cover','Relative Humidity','Conditions','Close*',\
          'Precipitation','Snow','Snow Depth','Wind Speed','DAY_OF_WEEK','WEEKEND','DAY_OF_MONTH',\
          'YEAR','MONTH','UNEMPLOY_RATE','FEDERAL HOLIDAY','GOVERNMENT HOLIDAY','NON-PUBLIC HOLIDAY','REGIONAL HOLIDAY','race_label']]
df4 = df4.drop_duplicates()

cleaned_date = cleaned_date.merge(df4,how='left',left_on='DATE',right_on='DATE')
cleaned_date = cleaned_date.rename(columns={"Close*":'DJI','Relative Humidity':'humidity',"Snow Depth":"snow_depth"})
cleaned_date = cleaned_date.rename(columns={"Wind Speed":'wind_speed','FEDERAL HOLIDAY':'fed_holiday','GOVERNMENT HOLIDAY':'gov_holiday'})
cleaned_date = cleaned_date.rename(columns={"NON-PUBLIC HOLIDAY":'nonpub_holiday','REGIONAL HOLIDAY':'reg_holiday'})

In [46]:
cleaned_date

,DATE,count,Temperature,Visibility,Cloud Cover,humidity,Conditions,DJI,Precipitation,Snow,...,WEEKEND,DAY_OF_MONTH,YEAR,MONTH,UNEMPLOY_RATE,fed_holiday,gov_holiday,nonpub_holiday,reg_holiday,race_label
0,2018-01-01,48,5.6,9.9,15.0,48.02,Clear,24824.01,0.00,0.00,...,0,01,2018,1,3.7,1.0,0.0,0.0,0.0,ASSAULT
1,2018-01-02,13,11.6,9.9,25.6,53.38,Partially cloudy,24824.01,0.00,0.00,...,0,02,2018,1,3.7,0.0,0.0,0.0,0.0,ASSAULT
2,2018-01-03,61,21.8,9.9,53.4,54.99,Partially cloudy,24922.68,0.00,0.00,...,0,03,2018,1,3.7,0.0,0.0,0.0,0.0,ASSAULT
3,2018-01-04,10,25.9,4.5,87.0,78.59,"Snow, Overcast",25075.13,0.62,6.67,...,0,04,2018,1,3.7,0.0,0.0,0.0,0.0,ASSAULT
4,2018-01-05,20,14.2,8.4,57.1,53.83,"Snow, Partially cloudy",25295.87,0.00,4.00,...,0,05,2018,1,3.7,0.0,0.0,0.0,0.0,ASSAULT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1116,2021-10-15,15,64.6,9.9,80.2,88.48,Overcast,35294.76,0.00,0.00,...,0,15,2021,10,5.3,0.0,0.0,0.0,0.0,ASSAULT
1117,2021-10-16,12,69.8,9.9,90.5,80.83,Overcast,35258.61,0.00,0.00,...,1,16,2021,10,5.3,0.0,0.0,0.0,0.0,ASSAULT
1118,2021-10-17,17,59.3,9.7,57.1,67.35,"Rain, Partially cloudy",35258.61,0.33,0.00,...,1,17,2021,10,5.3,0.0,0.0,0.0,0.0,ASSAULT
1119,2021-10-18,14,53.9,9.9,61.3,57.28,Partially cloudy,35258.61,0.00,0.00,...,0,18,2021,10,5.3,0.0,0.0,0.0,0.0,ASSAULT
1120,2021-10-19,5,53.6,9.9,37.6,53.26,Partially cloudy,35457.31,0.00,0.00,...,0,19,2021,10,5.3,0.0,0.0,0.0,0.0,ASSAULT

In [47]:
stocks = ['JHI','MPGSX','TJX','TMO','BSX','EIX','STT','BCG']

yf.pdr_override()


start = "2018-01-01"
end = "2021-11-19"

closing_df = pdr.get_data_yahoo(stocks, data_source='yahoo', start=start, end=end)['Adj Close']

[*********************100%***********************]  8 of 8 completed

In [48]:
cleaned_date['DATE'] = pd.to_datetime(cleaned_date['DATE'])
cleaned_date = cleaned_date.merge(closing_df,how='left',left_on='DATE',right_on='Date')

In [49]:
for i in stocks:
    cleaned_date[i].fillna(method='bfill',inplace=True)

predictors = ['UNEMPLOY_RATE']
predictors.extend(stocks)  

### ROLLING AVERAGES

for i in predictors:
    cleaned_date[str(i)+'_7'] = cleaned_date[i].rolling(window=7).mean()

In [50]:
#creating lag variables. We are predicting the number of assaults happening in the next three days, hence we create a shift of 3

lag_columns = ['count','Temperature','DJI','UNEMPLOY_RATE','Conditions','Precipitation','Snow']
lag_columns.extend(['JHI','MPGSX','TJX','TMO','JHI_7','MPGSX_7','TJX_7','TMO_7','BCG_7'])

for i in lag_columns:
    cleaned_date[str(i)+'_lag'] = cleaned_date[i].shift(3)

cleaned_date = cleaned_date.assign(t = lambda x:x.index)

In [51]:
cleaned_date

,DATE,count,Temperature,Visibility,Cloud Cover,humidity,Conditions,DJI,Precipitation,Snow,...,JHI_lag,MPGSX_lag,TJX_lag,TMO_lag,JHI_7_lag,MPGSX_7_lag,TJX_7_lag,TMO_7_lag,BCG_7_lag,t
0,2018-01-01,48,5.6,9.9,15.0,48.02,Clear,24824.01,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2018-01-02,13,11.6,9.9,25.6,53.38,Partially cloudy,24824.01,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,2018-01-03,61,21.8,9.9,53.4,54.99,Partially cloudy,24922.68,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
3,2018-01-04,10,25.9,4.5,87.0,78.59,"Snow, Overcast",25075.13,0.62,6.67,...,12.898993,8.150966,36.429714,191.056122,NaN,NaN,NaN,NaN,NaN,3
4,2018-01-05,20,14.2,8.4,57.1,53.83,"Snow, Partially cloudy",25295.87,0.00,4.00,...,12.898993,8.150966,36.429714,191.056122,NaN,NaN,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1116,2021-10-15,15,64.6,9.9,80.2,88.48,Overcast,35294.76,0.00,0.00,...,18.223978,15.600000,62.735744,575.678223,18.214185,15.657143,63.488650,579.041129,20285.714286,1116
1117,2021-10-16,12,69.8,9.9,90.5,80.83,Overcast,35258.61,0.00,0.00,...,18.204393,15.700000,63.263775,573.329163,18.235169,15.668571,63.370519,578.749817,20585.714286,1117
1118,2021-10-17,17,59.3,9.7,57.1,67.35,"Rain, Partially cloudy",35258.61,0.33,0.00,...,18.223978,16.000000,63.901390,577.117615,18.232371,15.698571,63.250965,577.870170,20621.428571,1118
1119,2021-10-18,14,53.9,9.9,61.3,57.28,Partially cloudy,35258.61,0.00,0.00,...,18.184807,16.110001,64.110611,582.155640,18.228174,15.752857,63.195457,577.651690,20657.142857,1119
1120,2021-10-19,5,53.6,9.9,37.6,53.26,Partially cloudy,35457.31,0.00,0.00,...,18.175014,16.280001,64.399529,587.793396,18.216983,15.847143,63.426024,578.989737,20692.857143,1120

In [52]:
cleaned_date.to_csv('datewise_data_new.csv', index=False)